body{
    position: relative;
}


h2{
  font-size:80px;
  margin-top: 120px;
  margin-left: 300px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(249, 248, 246);
}
.line2{
   margin-left: 400px;
   margin-top: 10px;

}
.image2{
  height: 610px;
  margin-left: 0;
}
.row{
  padding: 0;
}
.text-1{
  font-size: 60px;
  margin-left: 400px;
  font-weight: 1000;
}
.text1-1{
  font-size: 60px;
  margin-left: 730px;
  font-weight: 1000;

}
.text3-1{
  font-size: 60px;
  margin-left: 480px;
  font-weight: 1000;

}
.bi{
  background-image: url(pngtree-medical-medicine-stethoscope-white-background-picture-image_2390502.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
h5{
  font-size: 50px;
}
label{
  font-size: 35px;
}
.row1{
  display: flex;
   background-color: rgb(20,39,57); 
   

}
.full{
  display: flex;
  background-color: rgb(20,39,57); 


}
.img1{
    height: 800px;
    width: 100%;
}
